#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Use text mode install
text
# Install OS instead of upgrade
install
# Use network installation
# url --url="http://lazio.terminalfour.com/ISOs/CentOS-6.4-x86_64-LiveCD/"
# Root password CREATE YOUR OWN!!
rootpw --iscrypted $12354123123123213123.
# System authorization information
auth  --useshadow  --passalgo=sha512
firstboot --disabled
# System keyboard
keyboard uk
# System language
lang en_IE
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info

# System timezone
timezone  Europe/Dublin
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
autopart

# Reboot after installation
reboot
